.home{
	display: flex;
	flex-direction: column;
	& > .navbar{
		background-image: linear-gradient(to right, $secondary, $primary, $primary-dark);
		background-size: 600% 600%;
		background-repeat: repeat;
		padding: 30px 10px;
		-webkit-animation: bg-pan-right infinite 8s both;
	    animation: bg-pan-right 8s infinite both;
	    
		a.nav-link{
			color: white !important;
			font-weight: 300 !important;
			padding-right: 25px;
			transition: color .3s;
			&:hover{
				color: #aaaaaa !important;
				transition: color .3s;
			}
		}
	}

	// & > .profile-picture{
	// 	position: relative;
	// 	display: flex;
	// 	width: 85%;
	// 	height: 200px;
	// 	align-self: center;
	// 	z-index: 1;
	// 	img{
	// 		border-radius: 50%;
	// 		border: 2px solid white;
	// 		height: 200px;
	// 		width: auto;
	// 		position: absolute;
	// 		bottom: -50px;
	// 	}
	// }

	& > .first-view{
		display: flex;
		align-self: center;
		width: 85%;
		& > div{
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 500px;

			&:first-child{
				flex-grow:1;
				img{
					border-radius: 50%;
					border: 2px solid white;
					height: 200px;
					width: 200px;
					margin-bottom: 15px;
				}
				h1{
					color: white;
					font-size: 30px;
				}

				p{
					color: #fafafa;
					width: 55%;
					font-size: 14px;
					font-weight: 300;
				}
			}

			&:last-child{
				// flex-grow: 1;
				// img{
				// 	height: 300px;
				// 	width: auto;
				// }
				max-width: 46%;

				h1{
					font-weight: 700;
					color: #bbbbbb;
					margin-bottom: 20px;
				}

				p{
					color: $secondary-text;
				}
			}
		}
		

	}

	// & > .background{
	// 	background: url('./assets/img/background.png');
	// 	height: 610px;
	// 	width: 100%;
	// 	background-size: cover;
	// 	background-position: top right; 
	// 	z-index: -1 !important;
	// 	// filter: blur(1px);
	// 	& > div{
	// 		height: 100%;
	// 		width: 100%;
	// 		background: black;
	// 		opacity: 0.7;
	// 	}
	// }
}