// Variables and animations
@import './variables.scss';
@import './animations.scss';

// Pages
@import './home.scss';

body{
	font-family: 'Open Sans', sans-serif !important;
	background: #eaeaea;
	
}

.clip-path{
-webkit-clip-path: polygon(0 0, 56% 0, 39% 100%, 0% 100%);
clip-path: polygon(0 0, 56% 0, 39% 100%, 0% 100%);
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, $secondary, $primary, $primary-dark);
	background-size: 600% 600%;
	background-repeat: repeat;
	-webkit-animation: bg-pan-right infinite 8s both;
	    animation: bg-pan-right 8s infinite both;
}