<template>
	<div class="home">
		<div class="clip-path"></div>

		<b-navbar toggleable="md" >
		  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

		  <b-navbar-brand href="#"></b-navbar-brand>

		  <b-collapse is-nav id="nav_collapse">
		    <!-- Right aligned nav items -->
		    <b-navbar-nav class="ml-auto">
		       <b-nav-item href="#" class="focus-in-expand">About Me</b-nav-item>
      		   <b-nav-item href="#" class="focus-in-expand">Work</b-nav-item>
      		   <b-nav-item href="#" class="focus-in-expand">Inspiration</b-nav-item>
      		   <b-nav-item href="#" class="focus-in-expand">Contact</b-nav-item>
		    </b-navbar-nav>

		  </b-collapse>
		</b-navbar>
		<!-- <div class="profile-picture">
				<img :src="require('@/assets/img/me.png')">
		</div> -->
		<div class="first-view">
			<div>
				<img :src="require('@/assets/img/me.png')">
				<h1 class="focus-in-expand">Queizy Sartori Domingues</h1>
				<p class="focus-in-expand">Front-end Developer and Project Develop Manager</p>
			</div>
			<!-- About -->
			<div class="slide-in-bottom">
				<h1>About Me</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
			</div>
		</div>
	</div>
</template>
<script>
export default{

}
</script>